@import "tailwindcss";

@theme {
    --color-ocean: #3b82f6;
    --color-redbutton: #ef4444;
    --color-background: #1e293b;
}

html,
body,
#root {
    margin: 0;
    background-color: var(--color-background);
    overflow: hidden;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-slate-400) var(--color-background);
}